@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.homeHeading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.homeHeading span {
  color: rgba(17, 17, 17, 0.73);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.homeHeading p {
  color: #a27900;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.homeContainer {
  display: flex;
  padding: 0px 240px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.homeContainer a {
  display: flex;
  height: 100px;
  padding: 40px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 5px solid rgba(255, 191, 0, 0.35);
  background: #ffd34f;
  box-shadow: 0px 4px 54px 0px rgba(255, 191, 0, 0.11);
}

.homeContainer a p {
  flex-shrink: 0;
  color: #111;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.homeContainer a:hover {
  border: 5px solid #151515;
}

.twoOptionPage {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 80px 0px 125px 0px;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.twoOptionPage .Home {
  height: auto;
}

.heading {
  width: 100%;
  display: flex;
  padding: 80px 160px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  align-self: stretch;
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumb {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  align-self: stretch;
  color: rgba(17, 17, 17, 0.5);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumb a {
  text-decoration: none;
  color: rgba(17, 17, 17, 0.5);
}

.breadcrumb a:hover {
  color: #151515;
  text-decoration: underline #151515;
}

.breadcrumb span {
  color: rgba(255, 191, 0, 0.7);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

form {
  width: 100%;
  display: flex;
  padding: 0px 160px 40px 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.formContainer {
  width: 100%;
  display: flex;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
}

.formButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formButton button {
  display: flex;
  width: 348px;
  height: 44px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 0;
  border-radius: 8px;
  background: #d9d9d9;
  color: #111;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.formButton button:hover {
  border-radius: 8px;
  border: 1px solid rgba(17, 17, 17, 0.8);
  background: #ffd34f;
}

.formSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.formSectionHeading {
  color: #ffbf00;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.formSubSection {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.formInputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

label {
  color: var(--Default-Text-Primary, #111);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

label span {
  color: #f00;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.formInputDiv input {
  width: 100%;
  padding: 12px 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--Default-Text-Primary, #111);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.formInputDiv textarea {
  width: 100%;
  height: 200px;
  padding: 12px 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--Default-Text-Primary, #111);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  resize: none;
}

.PhoneInput {
  width: 100%;
}

.formCheckBox {
  display: flex;
  align-items: center;
  gap: 24px;
}

.formCheckBox input {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(17, 17, 17, 0.6);
}

.PhoneInputCountrySelect {
  color: var(--Default-Text-Primary, #111);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.formItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  animation: fadeInFromLeft 0.5s ease;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.Services {
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 24px;
  border-radius: 8px;
}

.Details {
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 24px;
  border-radius: 8px;
  animation: fadeInFromLeft 0.5s ease;
}

.Complimentary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--Default-Text-Primary, #111);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.Complimentary p {
  color: var(--Default-Text-Primary, #111);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.formAddItem {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.formAddButton {
  height: 50px;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #128210;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.addDetails {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--Default-Text-Primary, #111);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.formDeleteItem {
  width: 128px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #a31f1f;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.deleteDetails {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
  color: var(--Default-Text-Primary, #111);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 12px 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--Default-Text-Primary, #111);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Layout */

.containerBig {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 40px;
}

.layout {
  display: flex;
  width: 800px;
  padding: 20px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #fff;
}

.performaHeading {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border: 1px solid rgba(17, 17, 17, 0.1);
}

.performaHeadingText {
  color: #111;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-decoration-line: underline;
}

.performaHeadingContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}

.performaHeadingLogo {
  width: 145.638px;
  height: 128px;
}

.performaHeadingLogo img {
  width: 100%;
  object-fit: cover;
}

.performaHeadingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.performaHeadingInfo sub {
  color: rgba(17, 17, 17, 0.9);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
}

.performaHeadingInfoSub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.performaHeadingInfoSub .performaDetailsNumber p {
  width: 274px;
  justify-content: flex-start;
  color: rgba(17, 17, 17, 0.8);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaHeadingInfoSub .performaDetailsNumber p sub {
  color: rgba(17, 17, 17, 0.6);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaHeadingInfoSub p {
  width: 274px;
  color: rgba(17, 17, 17, 0.8);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaHeadingInfoSub span {
  color: rgba(17, 17, 17, 0.8);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.performaDetailsDateAndNumber {
  display: flex;
  padding: 8px 40px 8px 24px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  background: #ececec;
}

.performaDetailsDateAndNumber .p {
  color: rgba(17, 17, 17, 0.7);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.performaDetailsDateAndNumber p {
  color: rgba(17, 17, 17, 0.85);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.performaDetailsDateAndNumber span {
  color: rgba(17, 17, 17, 0.7);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.performaDetailsNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.performaDetailsNumber p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.performaDetailsNumber p span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
}

.performaDetailsNumber p sub {
  width: 80px;
  color: rgba(17, 17, 17, 0.7);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.performaDetailsContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.performaDetailsSet {
  width: 100%;
  min-height: 164px;
  height: 100%;
  display: flex;
  padding: 12px 24px;
  flex-direction: column;
  align-items: stretch;
  gap: 6px;
  background: rgba(255, 191, 0, 0.15);
  color: rgba(17, 17, 17, 0.7);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  flex: 1;
}

.performaDetailsSet sub {
  color: #ffbf00;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
}

.performaDetailsSetContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  align-self: stretch;
}

.performaDetailsSetContainer .set {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.performaDetailsSetContainer .set p {
  color: #111;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.performaDetailsSetContainer .set span {
  width: 274px;
  color: rgba(17, 17, 17, 0.8);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaDetailsSetCompany {
  color: #111;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.performaDetailsSet span {
  color: rgba(17, 17, 17, 0.7);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.performaTableHeading {
  display: flex;
  padding: 8px 8px 8px 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: rgba(255, 191, 0, 0.5);
  color: #111;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.number {
  width: 10%;
}
.partName {
  width: 20%;
}
.HSNcode {
  width: 20%;
  text-align: center;
}

.detail {
  width: 20%;
  text-align: center;
}
.Quantity {
  width: 10%;
  text-align: center;
}
.UnitCost {
  width: 20%;
  text-align: center;
}
.TotalCost {
  width: 20%;
  text-align: center;
}

.performaTableContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.performaTableSet {
  width: 100%;
  display: flex;
  padding: 24px 8px 8px 24px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  color: rgba(17, 17, 17, 0.7);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaTableSetDetails{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.performaTableSetDetailsSet{
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
}

.performaEnd {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.performaCost {
  width: 100%;
  display: flex;
  padding: 16px 38px;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
}
.performaCostWords {
  width: 40%;
}

.performaCostWords p {
  color: #111;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  text-transform: capitalize;
}

.performaCostWords span {
  color: rgba(17, 17, 17, 0.7);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.performaAmount {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  color: rgba(17, 17, 17, 0.7);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.performaAmountSet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.performaAmountSet sub {
  color: #ffbf00;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.performaEndDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.performaBankDetails {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: rgba(17, 17, 17, 0.8);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaBankDetails sub {
  color: rgba(17, 17, 17, 0.9);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
}

.performaPaymentDetails {
  width: 100%;
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
}

.performaPaymentDetailsLeft {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.performaPaymentDetailsHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  flex-shrink: 0;
}

.performaPaymentDetailsHeading sub {
  color: #ffbf00;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.performaPaymentDetailsHeading span {
  color: rgba(17, 17, 17, 0.9);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
}

.performaPaymentDetailsText {
  width: 100%;
  min-height: 100px;
  border-radius: 8px;
  padding: 6px;
  background: #ececec;
  color: rgba(17, 17, 17, 0.8);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.performaPaymentDetailsRight {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.performaSignature {
  width: 100%;
  height: 60px;
}

.performaSignature img {
  width: 100%;
  height: 80px;
  object-fit: contain;
}
